<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>

	<listener>

		<listener-class>com.cmq.module.jndi.JndiLoader</listener-class>

	</listener>
	<servlet>
		<servlet-name>FormServlet</servlet-name>
		<servlet-class> com.cmq.module.servlet.FormServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>FormServlet</servlet-name>
		<url-pattern>/formServlet.shtml</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<description>basedb DataSource</description>
		<res-ref-name>jdbc/basedb</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<resource-ref>
		<description>mongo instance</description>
		<res-ref-name>db/mongo</res-ref-name>
		<res-type>com.mongodb.Mongo</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<!-- in tomcat context.xml -->
	<!-- <Resource auth="Container" driverClassName="net.sourceforge.jtds.jdbc.Driver" 
		name="jdbc/dmsdb" username="DMSTEST" password="dmstest001" factory="org.apache.naming.factory.BeanFactory" 
		type="org.springframework.jdbc.datasource.DriverManagerDataSource" url="jdbc:jtds:sqlserver://192.168.90.22:49191;databasename=DMSDB_Z" 
		/> <Resource auth="Container" name="db/mongo" type="com.mongodb.Mongo" factory="com.orion.message.interfaces.mongo.MongoJndiFactory" 
		/> -->

</web-app>
